nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mintcream;
    padding: 8px 16px;
}

a {
    color: var(--primary-color);
}

.navigation,
.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.actions-menu {
    display: none;
}