<nav class="mat-elevation-z2">
    <div class="nav-header">
        <a class="title" href="#">📖 Recipe Book</a>
    </div>
    <div class="nav-links">
        <mat-nav-list class="navigation">
            <li *ngIf="isAuthenticated">
                <a mat-list-item routerLinkActive="active" routerLink="/recipes"
                    >Recipes</a
                >
            </li>
            <li>
                <a
                    mat-list-item
                    routerLinkActive="active"
                    routerLink="/shopping-list"
                    >Shopping list</a
                >
            </li>
            <li *ngIf="!isAuthenticated">
                <a mat-list-item routerLinkActive="active" routerLink="/auth"
                    >Authenticate</a
                >
            </li>
        </mat-nav-list>
        <div class="actions">
            <button (click)="onLogout()" *ngIf="isAuthenticated" type="button">
                Logout
            </button>
            <button *ngIf="isAuthenticated" appDropdown type="button">
                Manage
            </button>
            <ul class="actions-menu">
                <li>
                    <a (click)="onSaveData()">Save data</a>
                </li>
                <li>
                    <a (click)="onFetchData()">Fetch data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
