<nav>
    <div class="nav-header">
        <a href="#">Recipe Book</a>
    </div>
    <div class="nav-links">
        <ul class="navigation">
            <li>
                <a routerLinkActive="active" routerLink="/recipes">Recipes</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/shopping-list"
                    >Shopping list</a
                >
            </li>
        </ul>
        <div class="actions">
            <button appDropdown type="button">Manage</button>
            <ul class="actions-menu">
                <li>
                    <a (click)="onSaveData()">Save data</a>
                </li>
                <li>
                    <a>Fetch data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
