<nav>
    <div class="nav-header">
        <a href="#">Recipe Book</a>
    </div>
    <div class="nav-links">
        <ul class="navigation">
            <li>
                <a (click)="onSelect('recipes')" href="#">Recipes</a>
            </li>
            <li>
                <a (click)="onSelect('shopping-list')" href="#"
                    >Shopping list</a
                >
            </li>
        </ul>
        <div class="actions">
            <button appDropdown type="button">Manage</button>
            <ul class="actions-menu">
                <li>
                    <a href="#">Save data</a>
                </li>
                <li>
                    <a href="#">Fetch data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
