<h1>{{ isLoginMode ? 'Login' : 'Register' }}</h1>
<div *ngIf="error">
    <p>{{ error }}</p>
</div>
<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required email ngModel />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            id="password"
            required
            minlength="6"
            ngModel
        />
    </div>
    <div class="buttons">
        <button [disabled]="!authForm.valid" type="submit">
            {{ isLoginMode ? 'Login' : 'Register' }}
        </button>
        <span
            >{{
                isLoginMode
                    ? "You don't have an account?"
                    : 'Already have an account?'
            }}
            <a (click)="onSwitchMode()"
                >{{ isLoginMode ? 'create one!' : 'login' }}
            </a></span
        >
    </div>
</form>
