<div class="recipe-picture">
    <img [src]="recipe.imagePath" alt="" />
</div>
<div class="recipe-title">
    <h1>{{ recipe.name }}</h1>
</div>
<div class="recipe-manager">
    <button appDropdown type="button">Manage recipe</button>
    <ul class="recipe-options">
        <li>
            <a (click)="onAddToShoppingList()"
                >Add ingredients to the Shopping list</a
            >
        </li>
        <li>
            <a [routerLink]="['edit']">Edit recipe</a>
        </li>
        <li>
            <a (click)="onDeleteRecipe()">Delete recipe</a>
        </li>
    </ul>
</div>
<div>
    <p>{{ recipe.description }}</p>
</div>
<div class="ingredients">
    <h2>Ingredients</h2>
    <hr />
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
    </ul>
</div>
