.recipe-card {
    padding: 16px;
    width: 300px;
}

img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.manage-button {
    margin: 16px 0;
}

.recipe-manager {
    position: relative;
}

.recipe-options {
    display: none;
    padding: 4px 8px;
    position: absolute;
    top: 58px;
    left: 0;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-open ~ .recipe-options {
    display: block;
}
