a {
    display: block;
    border-radius: 5px;
    padding: 4px 16px;
}

a:hover {
    opacity: 0.85;
}

.active {
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
        0 3px 14px 2px #0000001f;
}

img {
    width: 100%;
    max-height: 250px;
}
