/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Color palette */
:root {
    --primary-color: #136f63;
    --background-color: #032b43;
    --text-color: white;
    --other1: #3f88c5;
    --other2: #ffba08;
    --other3: #d00000;
}
