<form (ngSubmit)="onAddIngredient(formRef)" #formRef="ngForm">
    <div class="form-fields">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" ngModel />
        </div>
        <div class="form-item">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" ngModel />
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit">Add ingredient</button>
        <button type="button">Delete ingredient</button>
        <button type="button">Clear form</button>
    </div>
</form>
