<form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
    <div class="form-fields">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required ngModel />
        </div>
        <div class="form-item">
            <label for="amount">Amount</label>
            <input
                type="number"
                pattern="^[1-9]+[0_9]*$"
                min="1"
                name="amount"
                id="amount"
                required
                ngModel
            />
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" [disabled]="!formRef.valid">
            {{ editMode ? 'Edit ingredient' : 'Add ingredient' }}
        </button>
        <button type="button">Delete ingredient</button>
        <button (click)="onClear()" type="button">Clear form</button>
    </div>
</form>
