<form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
    <div class="form-fields">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required ngModel />
        </div>
        <div class="form-item">
            <label for="amount">Amount</label>
            <input
                type="number"
                pattern="^[1-9]+[0_9]*$"
                min="1"
                name="amount"
                id="amount"
                required
                ngModel
            />
        </div>
        <div class="form-item">
            <label for="unit">Unit</label>
            <select name="unit" id="unit" required ngModel>
                <optgroup
                    *ngFor="let optionType of unitOptions"
                    [label]="optionType.label"
                >
                    <option
                        *ngFor="let option of optionType.options"
                        [value]="option"
                    >
                        {{ option }}
                    </option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" [disabled]="!formRef.valid">
            {{ editMode ? 'Edit ingredient' : 'Add ingredient' }}
        </button>
        <button *ngIf="editMode" (click)="onDelete()" type="button">
            Delete ingredient
        </button>
        <button (click)="onClear()" type="button">Clear</button>
    </div>
</form>
